@keyframes move {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(9px);
    }
}
/* the animation property in coin is already comented out :+1: (discord moment) AHHHHHH */
@keyframes coin {
    0% {
        transform: rotate(72deg);
    }
    25% {
        transform: rotate(calc(72deg * 2));
    }
    50% {
        transform: rotate(calc(72deg * 3));
    }
    75% {
        transform: rotate(calc(72deg * 4));
    }
    100% {
        transform: rotate(360deg);
    }
}

nav div img {
    size: 1cm;
    align-self: center;
    animation: move 5s cubic-bezier(0, 1.33, 0.91, 0.12) infinite;
}

#coin {
    size: 1cm;
    animation: coin 5s cubic-bezier(0, 1.44, 1, -0.2) infinite;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* EVERYTHING ABOVE IS NAVBAR CSS */ /* also coin is here */
/* EVERYTHING BELOW IS MAIN PAGE CSS */

main {
    align-items: center;
    font-family: Open Sans, Vazirmatn, sans-serif;
    font-style: normal;
    color: #fff;
    display: flex; /* or inline-flex */
    flex-direction: column;
    padding-top: 14em;
    padding-left: 4em;
    padding-right: 4em;
}

@media only screen and (max-width: 600px) {
    /* Only padd a bit for phone screens */
    main {
        padding-top: 8em;
        padding-left: 2em;
        padding-right: 2em;
    }
}

.mainTitle {
    text-align: center;
}

.buttons {
    /* buttons div for flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2em;
    padding-bottom: 6em;
}

.btn {
    /* Button class for clicking on it */
    font-size: 1.9em;
    border-radius: 5px;
    padding: 0 27ppx;
    height: 58px;
}
.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.btnStyle {
    background: grey;
    transition: all 1s ease;
    transform: scale(1);
    position: sticky;
}

.btnStyle:hover {
    transform: scale(1.3) perspective(1px);
    cursor: pointer;
    z-index: 1;
    border-radius: 20px;
}

main features {
    /* Features flexbox */
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

main features div {
    /* Child class of features flexbox. A feature*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: dimgrey solid 4px;
    border-radius: 1em;
    margin: 1.2cm;
}

main features div:nth-child(odd) {
    /* Odd children should stay the same*/
    padding-right: 10em;
}
main features div:nth-child(even) {
    /* Even children swap the elements so it looks cool lmao. */
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-left: 10em;
}

main features div img {
    /* The actual images */
    max-width: 30%;
    height: auto;
    z-index: -1;
    border-radius: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container > div#space {
    width: 20%;
}

@media only screen and (max-width: 600px) {
    /* For phone screens, once again change how images shown by making it bigger and change the flex direction for fChiild from row to coloumn*/
    main features div {
        flex-direction: column;
        align-items: center;
        margin: 0.2cm; /* Make spaces between features smaller so user doesn't have to scroll so far*/
        border-radius: 0.6em; /* Change border radius so it doesn't look like there's too much css when there is*/
        padding: 6px; /* Change padding so text doesn't go over border*/
        border-width: 2px;
    }

    main features div:nth-child(even) {
        /* For every second fChild, reverse the image and text*/
        justify-content: right;
        flex-direction: column-reverse;
    }

    main features div:nth-child(even) {
        padding-left: 0px;
    }
    main features div:nth-child(odd) {
        padding-right: 0px;
    }

    main features div img {
        max-width: 69%;
        height: auto;
        border-radius: 15px;
    }
}

#goDoIt {
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    row-gap: 2cm;
    padding-bottom: 2cm;
    font-size: 1cm;
}

.creditsImg {
    border-radius: 6.1cm;
    max-width: 30cm;
    height: 3cm;
    transition: all 1s ease;
    transform: scale(1);
}

.creditsImg:hover {
    transform: scale(1.3) perspective(1px);
    border-radius: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    column-gap: 70px;
}

.creditsContent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: none;
    max-width: 80%;
    height: auto;
}

#copyright {
    font-size: 0.4cm;
    padding-top: 4em;
    padding-bottom: 4em;
}
