:root {
    --align-desktop: left; /* var to set left or right or center*/
    --align-mobile: center;
}

@keyframes title {
    0% {
        visibility: hidden;
    }
    10% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(0deg);
    }
    25% {
        transform-origin: top left;
        transform: rotate(90deg);
        transform: translateY(80px);
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: translateY(-50px);
        transform-origin: top left;
        transform: rotate(90deg);
    }
    100% {
        opacity: 0;
    }
}

nav div img {
    size: 1cm;
    align-self: center;
    animation: logo 5s linear infinite;
}

#titleDie {
    flex-grow: 1;
    size: 1cm;
    align-self: center;
    animation: title 5s linear infinite;
    color: red;
    position: absolute;
    top: 1.2em;
    z-index: 3;
}

@media only screen and (max-width: 600px) {
    #titleDie {
        width: 4cm;
        top: 0.5em;
    }
}

#coin {
    size: 1cm;
    animation: coin 5s cubic-bezier(0, 1.44, 1, -0.2) infinite;
}

/* EVERYTHING ABOVE IS NAVBAR CSS */

main {
    align-items: center;
    font-family: Open Sans, Vazirmatn, sans-serif;
    font-style: normal;
    color: #fff;
    display: flex; /* or inline-flex */
    flex-direction: column;
    padding-top: 8em;
    padding-left: 4em;
    padding-right: 4em;
}

h1 {
    font-size: 4em;
}

#searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#commands {
    /* Contains all the commands */
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: var(--align-desktop);
    font-family: Open Sans, Vazirmatn, sans-serif;
    font-style: normal;
    color: #fff;
}

#commands c {
    /* Singular command*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: var(--align-desktop);
    row-gap: 0.5em;
    border: dimgrey solid 4px;
    border-radius: 1em;
    margin: 0.9cm;
    padding: 2cm;
}

#commands c div:nth-child(1) {
    /* Contains the command name and use */
    display: flex;
    flex-direction: row;
    justify-content: var(--align-desktop);
    align-items: baseline;
    column-gap: 40px; /* Size between the name and usage*/
}

@media only screen and (max-width: 600px) {
    /* Mobile UI */
    #commands {
        font-size: 1em; /* Make all children fonts smaller so box doesn't increase */
    }
    #commands c {
        /* Align items to the center and not the left*/
        align-items: var(--align-mobile);
        align-content: var(--align-mobile);
        padding: clamp(0.2cm, 0.4cm, 0.8cm);
        margin: clamp(0.2em, 0.3em, 0.4em);
    }
    #commands c div:nth-child(1) {
        column-gap: 10px; /* Make spaces smaller for smaller screens */
        align-items: var(--align-mobile);
    }
    #commands c div:nth-child(2) {
        text-align: var(--align-mobile);
    }
}

c div:nth-child(1) div:nth-child(1) {
    /* Command name */
    font-size: 2em;
}

c div:nth-child(1) div:nth-child(2) {
    /* Command use */
    color: #b8b842;
    font-size: 0.8em;
}

div.subcommands {
    /* Array of subcommands */
    display: flex;
    flex-direction: row;
    justify-content: var(--align-desktop);
    column-gap: 12px;
}

subcommand {
    /* Singular subcommand */
    display: flex;
    flex-direction: column;
    justify-content: var(--align-desktop);
}

subcommand div.subcommandHead {
    /* Contains the subcommand name and use */
    display: flex;
    flex-direction: row;
    justify-content: var(--align-desktop);
    align-items: baseline;
    column-gap: 10px; /* Size between the name and usage*/
}

subcommand div.subcommandHead div.subcommandName {
    /* Subcommand name */
    font-size: 0.3em;
}

subcommand div.subcommandHead div.subcommandUse {
    /* Subcommand use*/
    color: #50b842;
    font-size: 0.3em;
}

subcommand div.subcommandDesc {
    /* Subcomand desc */
    font-size: 0.4em;
}

input {
    font-size: 1em;
    background-color: gray;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px 10px;
    transition: all 1s ease;
    transform: scale(1);
    z-index: 1;
}

input::placeholder {
    color: #9c9c9c;
}

input:hover,
button:hover {
    transform: scale(1.3) perspective(1px);
    border-radius: 10px;
    border-color: white;
    z-index: 2;
}

button {
    border-radius: 8px;
    margin: 23px;
    font-size: 1.5em;
    transition: all 1s ease;
    transform: scale(1);
    z-index: 1;
}

#copyright {
    font-size: 0.4cm;
    padding-top: 4em;
    padding-bottom: 4em;
}
