@keyframes move {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(9px);
    }
}
/* the animation property in coin is already comented out :+1: (discord moment) AHHHHHH */
@keyframes coin {
    0% {
        transform: rotate(0deg);
    }
    /*
  25% {
    transform: rotate(calc(90deg));
  }
  50% {
    transform: rotate(calc(90deg*2));
  }
  75% {
    transform: rotate(calc(90deg*3));
  }
  */
    90% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

nav div img {
    size: 1cm;
    align-self: center;
    animation: coin 5s cubic-bezier(0.76, -0.24, 0.5, 1.47) infinite;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: orange;
    text-underline-position: auto;
}

/* EVERYTHING ABOVE IS NAVBAR CSS */

main {
    align-items: center;
    font-family: Open Sans, Vazirmatn, sans-serif;
    font-style: normal;
    color: #fff;
    display: flex; /* or inline-flex */
    flex-direction: column;
    padding-top: 6em;
    padding-left: 4em;
    padding-right: 4em;
}

.tos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3cm;
    row-gap: 1em;
}

.tosTitle {
    font-size: 3.1em;
    text-decoration: underline;
}

.tosDescription {
    font-size: 2em;
}

h1 {
    font-size: 3.4em;
}

a {
    color: orange;
}

a:hover {
    color: #996300;
}

#copyright {
    font-size: 0.4cm;
    padding-top: 4em;
    padding-bottom: 4em;
}
